In [1]:
import pandas as pd
import seaborn as sns
import streamlit as st
from datetime import datetime

In [2]:
from sqlalchemy import create_engine, MetaData, Table, Column, Date, String, BIGINT, Select, distinct, func

In [3]:
metadata = MetaData()

In [4]:
engine = create_engine("postgresql+psycopg://postgres:password@localhost:5432/postgres")

In [5]:
metadata.reflect(bind=engine,schema="staging_all")

In [6]:
metadata.tables.keys()

dict_keys(['staging_all.pincode', 'staging_all.category_level_orders', 'staging_all.ondc_dashboard_version', 'staging_all.district_level_orders', 'staging_all.od_dq_nhm', 'staging_all.sub_category_level_orders', 'staging_all.retail_b2b_district_level_orders', 'staging_all.key_insights_district_wise', 'staging_all.retail_b2b_dim_dates', 'staging_all.fact_order_detail', 'staging_all.key_insights_sellers', 'staging_all.b2b_fact_order_detail', 'staging_all.key_insights_sub_category'])

In [7]:
od_dq = Table(
  "od_dq_nhm",
  metadata,
  Column("curr_date",Date, nullable=True),
	 Column("ord_date", Date, nullable=True),
	 Column("seller_np", String(255), nullable=True),
	 Column("null_fulfilment_id", BIGINT, nullable=True),
	 Column("null_net_tran_id", BIGINT, nullable=True),
	 Column("null_qty", BIGINT, nullable=True),
	 Column("null_itm_fulfilment_id", BIGINT, nullable=True),
	 Column("null_del_pc", BIGINT, nullable=True),
	 Column("null_created_date_time", BIGINT, nullable=True),
	 Column("null_domain", BIGINT, nullable=True),
	 Column("null_del_cty", BIGINT, nullable=True),
	 Column("null_cans_code", BIGINT, nullable=True),
	 Column("null_cans_dt_time", BIGINT, nullable=True),
	 Column("null_ord_stats", BIGINT, nullable=True),
	 Column("null_fulfil_status", BIGINT, nullable=True),
	 Column("null_itm_cat", BIGINT, nullable=True),
	 Column("null_cat_cons", BIGINT, nullable=True),
	 Column("null_sell_pincode", BIGINT, nullable=True),
	 Column("null_prov_id", BIGINT, nullable=True),
	 Column("null_itm_id", BIGINT, nullable=True),
	 Column("null_sell_np", BIGINT, nullable=True),
	 Column("null_net_ord_id", BIGINT, nullable=True),
	 Column("null_sell_cty", BIGINT, nullable=True),
	 Column("total_orders", BIGINT, nullable=True),
	 Column("total_canceled_orders", BIGINT, nullable=True),
  schema="staging_all",
  extend_existing=True
)

In [8]:
stmt = (
  od_dq.select()
)

In [9]:
with engine.connect() as conn:
  result = conn.execute(stmt).fetchall()

In [10]:
engine.dispose()

In [11]:
cols = []

for x in od_dq.columns:
  cols.append(str(x).split(".")[1])

In [12]:
df = pd.DataFrame(result,columns=cols)

In [13]:
df.head(5)

,curr_date,ord_date,seller_np,null_fulfilment_id,null_net_tran_id,null_qty,null_itm_fulfilment_id,null_del_pc,null_created_date_time,null_domain,...,null_itm_cat,null_cat_cons,null_sell_pincode,null_prov_id,null_itm_id,null_sell_np,null_net_ord_id,null_sell_cty,total_orders,total_canceled_orders
0,2024-04-11,2024-04-10,greenreceipt.in,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2024-04-11,2024-04-10,biz.enstore.com,0,0,0,0,0,0,0,...,10,10,0,0,0,0,0,0,1141,61
2,2024-04-11,2024-04-10,ondc.addble.com,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,12,0
3,2024-04-11,2024-04-10,prod-boat-bpp.shopalyst.com,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,0
4,2024-04-11,2024-04-10,ondcmp.nlincs.in,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,296,0

In [14]:
def run_stmt(to_run :str,cnt :int = 0) ->list[:]:
  stmt = (
    to_run
  )
  with engine.connect() as conn:
    if cnt:
      result = conn.execute(stmt).fetchmany(cnt)
    else:
      result = conn.execute(stmt).fetchall()
  return result

In [15]:
distinct_sellers = (
  Select(od_dq.c.seller_np).distinct()
)

In [16]:
cancelled = (
  Select(od_dq.c.seller_np,
         od_dq.c.null_cans_code,
         od_dq.c.null_cans_dt_time,
         od_dq.c.total_canceled_orders)
          .where(od_dq.c.total_canceled_orders > 0)
          .order_by(od_dq.c.null_cans_code.desc())
)

In [17]:
date_range = (
  Select(func.max(od_dq.c.ord_date),func.min(od_dq.c.ord_date))
)

In [18]:
curr_date = (
  Select(func.max(od_dq.c.curr_date))
)

In [19]:
missing_pc = (
  Select(
    od_dq.c.seller_np,
    od_dq.c.null_sell_pincode,
    od_dq.c.total_orders)
    .where(od_dq.c.null_sell_pincode > 0)
    .order_by(od_dq.c.null_sell_pincode.desc())
)

In [20]:
out = run_stmt(curr_date)

In [21]:
out[0][0]

datetime.date(2024, 4, 11)

In [22]:
out[0][0].strftime("%Y-%m-%d")

'2024-04-11'

In [23]:
# out[0][1]/out[0][3]

In [24]:
def load_missing_pc(dt_val: str, col_name: str, total=0):
	col_ = getattr(od_dq.c, col_name)
	missing_col = (
		Select(
			od_dq.c.seller_np,
			col_,
			od_dq.c.total_orders)
		.where(col_ > 0)
		.where(od_dq.c.ord_date == dt_val)
		.order_by(col_.desc())
	)
	return run_stmt(missing_col, total)

In [25]:
datetime.strptime("2024-04-09", "%Y-%m-%d")

datetime.datetime(2024, 4, 9, 0, 0)

In [26]:
load_missing_pc(datetime.strptime("2024-04-09", "%Y-%m-%d"),'null_fulfilment_id')

[]

Missing Data Columns Heatmap

In [27]:
df.head(5)

,curr_date,ord_date,seller_np,null_fulfilment_id,null_net_tran_id,null_qty,null_itm_fulfilment_id,null_del_pc,null_created_date_time,null_domain,...,null_itm_cat,null_cat_cons,null_sell_pincode,null_prov_id,null_itm_id,null_sell_np,null_net_ord_id,null_sell_cty,total_orders,total_canceled_orders
0,2024-04-11,2024-04-10,greenreceipt.in,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2024-04-11,2024-04-10,biz.enstore.com,0,0,0,0,0,0,0,...,10,10,0,0,0,0,0,0,1141,61
2,2024-04-11,2024-04-10,ondc.addble.com,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,12,0
3,2024-04-11,2024-04-10,prod-boat-bpp.shopalyst.com,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,0
4,2024-04-11,2024-04-10,ondcmp.nlincs.in,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,296,0

In [28]:
cols_dict = {
  "curr_date":"Current Date",
  "ord_date":"Order Date",
  "seller_np":"Seller NP",
  "null_fulfilment_id":"Fulfilment ID",
  "null_net_tran_id":"Net Transaction ID",
  "null_qty":"Quantity",
  "null_itm_fulfilment_id": "Item Fulfilment ID",
  "null_del_pc":"Delivery Pincode",
  "null_created_date_time":"Created Date",
  "null_domain":"Domain",
  "null_del_cty":"Delivery City",
  "null_cans_code":"Cancellation Code",
  "null_cans_dt_time":"Cancellation Date",
  "null_ord_stats":"Order Status",
  "null_fulfil_status":"Fulfilment Status",
  "null_itm_cat":"Item Category",
  "null_cat_cons":"Category",
  "null_sell_pincode":"Seller Pincode",
  "null_prov_id":"Provider ID",
  "null_itm_id":"Item ID",
  "null_sell_np":"Null Seller NP",
  "null_net_ord_id":"Network Order ID",
  "null_sell_cty":"Seller City"
}

In [29]:
def div(row, a,b):
    if row[b] > 0:
        return (row[a] / row[b])*100
    else:
        return 0

In [30]:
cols_dict.values()

dict_values(['Current Date', 'Order Date', 'Seller NP', 'Fulfilment ID', 'Net Transaction ID', 'Quantity', 'Item Fulfilment ID', 'Delivery Pincode', 'Created Date', 'Domain', 'Delivery City', 'Cancellation Code', 'Cancellation Date', 'Order Status', 'Fulfilment Status', 'Item Category', 'Category', 'Seller Pincode', 'Provider ID', 'Item ID', 'Null Seller NP', 'Network Order ID', 'Seller City'])

In [31]:
df_percent = pd.DataFrame(columns=cols_dict.values())

In [32]:
df_percent['Current Date'] = df.loc[:,['curr_date']]
df_percent['Order Date'] = df.loc[:,['ord_date']]
df_percent['Seller NP'] = df.loc[:,['seller_np']]

In [33]:
df_percent

,Current Date,Order Date,Seller NP,Fulfilment ID,Net Transaction ID,Quantity,Item Fulfilment ID,Delivery Pincode,Created Date,Domain,...,Order Status,Fulfilment Status,Item Category,Category,Seller Pincode,Provider ID,Item ID,Null Seller NP,Network Order ID,Seller City
0,2024-04-11,2024-04-10,greenreceipt.in,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-04-11,2024-04-10,biz.enstore.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-04-11,2024-04-10,ondc.addble.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-04-11,2024-04-10,prod-boat-bpp.shopalyst.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-04-11,2024-04-10,ondcmp.nlincs.in,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,2024-04-11,2024-04-10,agg.dominos.co.in,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
426,2024-04-11,2024-04-10,cloud-adaptor.proteantech.in/api/seller/adapto...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
427,2024-04-11,2024-04-10,prod-ondc.dlyb.in,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428,2024-04-11,2024-04-10,ondc.sellerapp.in,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429,2024-04-11,2024-04-10,prod-myfitness-bpp.shopalyst.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
for key in cols_dict.keys():
  if key.__contains__("null_") and not key.__contains__("cans_"):
   print(key,"--" ,cols_dict[key])
   df_percent[cols_dict[key]] = df.apply(div,a = key, b="total_canceled_orders", axis=1)

null_fulfilment_id -- Fulfilment ID
null_net_tran_id -- Net Transaction ID
null_qty -- Quantity
null_itm_fulfilment_id -- Item Fulfilment ID
null_del_pc -- Delivery Pincode
null_created_date_time -- Created Date
null_domain -- Domain
null_del_cty -- Delivery City
null_ord_stats -- Order Status
null_fulfil_status -- Fulfilment Status
null_itm_cat -- Item Category
null_cat_cons -- Category
null_sell_pincode -- Seller Pincode
null_prov_id -- Provider ID
null_itm_id -- Item ID
null_sell_np -- Null Seller NP
null_net_ord_id -- Network Order ID
null_sell_cty -- Seller City

In [35]:
# df_per_heatmap = df_percent.drop(columns=["Current Date",	"Order Date",	"Seller NP","Cancellation Date","Cancellation Code"])

In [36]:
df_percent.head()

,Current Date,Order Date,Seller NP,Fulfilment ID,Net Transaction ID,Quantity,Item Fulfilment ID,Delivery Pincode,Created Date,Domain,...,Order Status,Fulfilment Status,Item Category,Category,Seller Pincode,Provider ID,Item ID,Null Seller NP,Network Order ID,Seller City
0,2024-04-11,2024-04-10,greenreceipt.in,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,2024-04-11,2024-04-10,biz.enstore.com,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,16.393443,16.393443,0.0,0.0,0.0,0.0,0.0,0.0
2,2024-04-11,2024-04-10,ondc.addble.com,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,2024-04-11,2024-04-10,prod-boat-bpp.shopalyst.com,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,2024-04-11,2024-04-10,ondcmp.nlincs.in,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
df_percent[df_percent["Order Date"] == datetime.strptime("2024-04-10","%Y-%m-%d").date()]

,Current Date,Order Date,Seller NP,Fulfilment ID,Net Transaction ID,Quantity,Item Fulfilment ID,Delivery Pincode,Created Date,Domain,...,Order Status,Fulfilment Status,Item Category,Category,Seller Pincode,Provider ID,Item ID,Null Seller NP,Network Order ID,Seller City
0,2024-04-11,2024-04-10,greenreceipt.in,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,2024-04-11,2024-04-10,biz.enstore.com,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,16.393443,16.393443,0.0,0.0,0.0,0.0,0.0,0.0
2,2024-04-11,2024-04-10,ondc.addble.com,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,2024-04-11,2024-04-10,prod-boat-bpp.shopalyst.com,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,2024-04-11,2024-04-10,ondcmp.nlincs.in,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,2024-04-11,2024-04-10,agg.dominos.co.in,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
426,2024-04-11,2024-04-10,cloud-adaptor.proteantech.in/api/seller/adapto...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
427,2024-04-11,2024-04-10,prod-ondc.dlyb.in,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
428,2024-04-11,2024-04-10,ondc.sellerapp.in,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,158.333333,158.333333,0.0,0.0,0.0,0.0,0.0,0.0
429,2024-04-11,2024-04-10,prod-myfitness-bpp.shopalyst.com,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
df.to_csv("df.csv", index=False)

In [ ]:
del(df_percent)
del(df)